<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header><% include partials/_header %></header>
    <table width="50%">
      <% for (let key in urls) { %>
        <% if (user.id === urls[key].userId) { %>
        <tr>
          <td><a href="/u/<%= key %>"><%= key %></a></td>
          <td> || </td>
          <td align="center"><%= urls[key].longURL %></td>
          <% if (user.id === urls[key].userId) { %>
            <td><a href="/urls/<%= key %>">edit</a></td>
            <td>
              <form method="POST" action="/urls/<%= key %>/delete">
                <button type="submit">🗑</button>
              </form>
          </td>
          <% } %>
        </tr>
        <% } %>
      <% } %>
    </table>
    <a style="line-height:25px" href="/urls/new">Make your own TinyURL :)</a>
</body>
</html>